<h1>Login to User this App</h1>
<form (submit)="onSubmit()">
  <input 
    type="text" 
    name="username"
    required
    minlength="5"
    [(ngModel)] = "user.username"
    #username = ngModel
    />
    <input type="submit" value="Login" [disabled] = "username.invalid"/>
</form>
<div style="color: red;" *ngIf="username.invalid && (username.dirty || username.touched)">
  <p *ngIf="username.errors.required"> Username is Required</p> 
  <p *ngIf="username.errors.minlength"> Username must be at least 5 characters long</p> 
</div>